{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Two-A Restaurant - Contact Page</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
	<link href="{% static 'css/all.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/templatemo-style.css' %}" rel="stylesheet" />
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->

<body>

	<div class="container">
		<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/simple-house-01.jpg' %}">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="{% static 'img/simple-house-logo.png' %}" alt="Logo" class="tm-site-logo" />
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Two-A</h1>
								<h6 class="tm-site-description">New Restaurant</h6>
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="/" class="tm-nav-link">Home</a></li>
								<li class="tm-nav-li"><a href="/about/" class="tm-nav-link">About</a></li>
								<li class="tm-nav-li"><a href="/contact/" class="tm-nav-link active">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Contact Page</h2>
				<p class="col-12 text-center">This is where you can find us and message us</p>
			</header>

			<div class="tm-container-inner-2 tm-contact-section">
				<div class="row">
					<div class="col-md-6">
						<form action="" method="POST" class="tm-contact-form">
							{% csrf_token %}
							<div class="form-group">
								<input type="text" name="form_name" id="form_name" class="form-control" placeholder="Name" required="" />
							</div>

							<div class="form-group">
								<input type="email" name="form_email" id="form_email" class="form-control" placeholder="Email" required="" />
							</div>

							<div class="form-group">
								<textarea rows="5" name="form_message" id="form_message" class="form-control" placeholder="Message"
									required=""></textarea>
							</div>

							<div class="form-group tm-d-flex">
								<button type="submit" class="tm-btn tm-btn-success tm-btn-right">
									Send
								</button>
							</div>
						</form>
					</div>
					<div class="col-md-6">
						<div class="tm-address-box">
							<h4 class="tm-info-title tm-text-success">Our Address</h4>
							<address>
								180 Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
								mus 10550
							</address>
							<a href="tel:080-090-0110" class="tm-contact-link">
								<i class="fas fa-phone tm-contact-icon"></i>080-090-0110
							</a>
							<a href="mailto:info@company.co" class="tm-contact-link">
								<i class="fas fa-envelope tm-contact-icon"></i>info@company.co
							</a>
							<div class="tm-contact-social">
								<a href="//facebook.com" class="tm-social-link"><i
										class="fab fa-facebook tm-social-icon"></i></a>
								<a href="//twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
								<a href="//instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- How to change your own map point
	1. Go to Google Maps
	2. Click on your location point
	3. Click "Share" and choose "Embed map" tab
	4. Copy only URL and paste it within the src="" field below
-->


			<div class="tm-container-inner-2 tm-info-section">
				<div class="row">
					<!-- FAQ -->
					<div class="col-12 tm-faq">
						<h2 class="text-center tm-section-title">FAQs</h2>

						<div class="tm-accordion">
							<button class="accordion">1. What are your restaurant hours?</button>
							<div class="panel">
								<p>Our hours of operation vary by day. You can find our current hours listed on the
									website homepage, or by clicking the "Contact Us" tab for a detailed breakdown.</p>
							</div>

							<button class="accordion">2. Do you offer vegetarian and vegan options?</button>
							<div class="panel">
								<p>Absolutely! We are committed to catering to a variety of dietary needs. Our menu
									clearly indicates vegetarian and vegan options, and we're always happy to modify
									dishes to accommodate allergies or preferences.</p>
							</div>

							<button class="accordion">3. Can I make a reservation online?</button>
							<div class="panel">
								<p>Unfortunately, we don't currently offer online reservations. However, you can call us
									to make a reservation over the phone, or stop by and inquire about
									availability if you prefer.</p>
							</div>

							<button class="accordion">4. Is there parking available?</button>
							<div class="panel">
								<p>Yes, there is free street parking available in the neighborhood around the
									restaurant. Additionally, there's a paid parking lot located one block west of
									restaurant.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2020 Simple House

				| Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
		</footer>
	</div>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/parallax.min.js' %}"></script>
	<script>
		$(document).ready(function () {
			var acc = document.getElementsByClassName("accordion");
			var i;

			for (i = 0; i < acc.length; i++) {
				acc[i].addEventListener("click", function () {
					this.classList.toggle("active");
					var panel = this.nextElementSibling;
					if (panel.style.maxHeight) {
						panel.style.maxHeight = null;
					} else {
						panel.style.maxHeight = panel.scrollHeight + "px";
					}
				});
			}
		});
	</script>
</body>

</html>